@media (max-width: 1368px) {
  .hero__item::before {
    width: 70%;
    top: -1%;
  }

  .hero__decoration-wrapper {
    display: flex;
    justify-content: center;
  }

  .hero__title-decoration,
  .hero__title-decoration--bottom {
    position: unset;
  }

  .month-box__images {
    margin-right: 1rem;
  }

  .month-box__image:not(:last-child) {
    margin-right: 1rem;
  }

  .new__card-wrapper {
    margin-bottom: 0.5rem;
  }

  .new__card-subtitle {
    font-size: 1rem;
  }

  .new__card-info {
    padding: 0.5rem 1rem 0.5rem 2rem;
  }

  .new__card-text {
    font-size: 0.7rem;
  }

  .sign__container {
    padding-bottom: 3rem;
  }

  .sign__bg {
    display: none;
  }

  .clients__cover {
    margin-right: 2rem;
  }

  .clients__cover-img {
    width: 100%;
  }

  .clients__info {
    padding-right: 5rem;
  }

  .clients__comment {
    line-height: 1rem;
    font-size: 0.85rem;
  }

  .swiper-wrapper {
    padding-bottom: 5rem;
  }

  .swiper-btn-container {
    top: 80%;
    right: 40%;
  }
}

@media (max-width: 1024px) {
  .header__container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header__item:not(:last-child) {
    margin-right: 1rem;
  }

  .header__logo {
    margin-right: 1rem;
  }

  .month-box__container {
    flex-wrap: wrap-reverse;
  }

  .month-box__top-wrapper {
    margin: 0 auto;
  }

  .month-box__btn {
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .month-box__images {
    margin: 0 auto;
  }

  .month-box__descr {
    width: unset;
  }

  .new__card-info {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }

  .new__card-subtitle {
    font-size: 1rem;
  }

  .new__card-line {
    margin-bottom: 0.5rem;
  }

  .clients__cover {
    width: 30%;
    display: flex;
    align-items: center;
  }

  .clients__info {
    width: 50%;
    padding-right: 1rem;
  }

  .clients__info-top {
    margin-bottom: 0.5rem;
  }

  .clients__line-decor {
    margin-bottom: 0.5rem;
  }

  .swiper-btn-container {
    top: 90%;
    right: 40%;
  }

  .footer__top-link:not(:last-child) {
    margin-right: 0.8rem;
  }
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 2rem;
  }

  .hero__title-decoration {
    font-size: 1.8rem;
    margin-right: 0.5rem;
  }

  .hero__main-item {
    display: none;
  }

  .hero__main-item--sm {
    display: block;
    width: 50%;
    display: flex;
    margin: auto;
  }

  .how__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .how__items {
    flex-direction: column;
  }

  .how__item {
    margin: auto;
  }

  .month-box__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .month-box__descr {
    padding-top: 0;
  }

  .mission__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .mission__title {
    font-size: 3rem;
  }

  .mission__bottom-text {
    font-size: 2rem;
  }

  .recent__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .new__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .new__cards {
    flex-direction: column;
  }

  .new__card {
    width: 100%;
    max-width: 25rem;
    margin: auto;
  }

  .new__card:not(:last-child) {
    margin-bottom: 1rem;
  }

  .new__btn {
    margin: auto;
  }

  .sign__container {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .sign__subtitle {
    font-size: 3rem;
    line-height: unset;
  }

  .sign__form {
    flex-direction: column;
    background-color: unset;
    max-width: unset;
  }

  .sign__form-err {
    left: 3rem;
    top: 1.5rem;
  }

  .sign__input {
    background-color: white;
    padding: 2rem;
    margin-bottom: 1rem;
  }

  .sign__modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 30rem;
    min-width: 18rem;
    margin: auto;
  }

  .sign__modal-content {
    flex-direction: column;
    position: relative;
  }

  .sign__modal-img {
    height: 30%;
    width: 100%;
  }

  .sign__modal-title {
    font-family: AdventPro;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .sign__modal-text {
    font-family: AdventPro;
    font-size: 1rem;
    margin-bottom: 8rem;
  }

  .sign__modal-close {
    position: absolute;
    max-width: unset;
    width: 110%;
    left: -10%;
    bottom: 0;
    padding-bottom: 1rem;
  }

  .sign__btn {
    width: unset;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    margin: auto;
  }

  .clients {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .clients__container {
    padding-top: unset;
    padding-bottom: unset;
  }

  .clients__cover {
    margin: auto;
  }

  .clients__card {
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .clients__info {
    width: 100%;
    text-align: center;
  }

  .clients__comment {
    max-width: unset;
  }

  .footer__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .footer__top {
    height: 100%;
    flex-direction: column;
  }

  .footer__nav {
    flex-direction: column;
  }

  .footer__top-link {
    width: 100%;
    text-align: center;
    margin-right: auto;
  }

  .footer__top-logo {
    order: -1;
  }

  .footer__social {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__top-img {
    width: 10%;
    margin-right: unset;
  }
}

@media (max-width: 666px) {
  .header__menu {
    display: none;
  }

  .logo-sm {
    display: block;
    height: 4rem;
    width: 50%;
  }

  .header__container {
    display: flex;
  }

  .menu {
    display: block;
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.2s;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: white;
    color: black;
    list-style: none;
    padding-top: 4rem;
  }

  .menu__burger-list {
    flex-direction: column;
    align-content: center;
  }

  .menu__burger-item {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }

  .menu__burger-link:not(:last-child) {
    margin-bottom: 1rem;
  }

  .showMenu {
    transform: translateY(0);
  }

  .open {
    transition: all 1s ease-in-out;
  }

  .close {
    display: none;
    transition: all 1s ease-in-out;
  }

  .burger-btn {
    margin-left: auto;
    display: block;
    background: none;
    border: none;
  }

  .hero {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .hero__title {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }

  .hero__title-decoration {
    font-size: 1.4rem;
  }

  .hero__item {
    padding: 1rem;
  }

  .hero__main-item--sm {
    width: 80%;
  }

  .how__container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .how__title {
    font-size: 1.5rem;
    font-family: AdventPro;
  }

  .how__subtitle {
    font-size: 1.1rem;
    font-family: AdventPro;
  }

  .how__descr {
    font-size: 0.8rem;
  }

  .month-box__container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .month-box__top-wrapper {
    flex-direction: column;
  }

  .month-box__title {
    font-family: AdventPro;
    text-align: center;
    font-size: 1.5rem;
  }

  .month-box__line-img {
    width: 3rem;
    margin: auto;
    margin-bottom: 1rem;
  }

  .month-box__text {
    font-size: 0.8rem;
    text-align: center;
  }

  .month-box__images {
    order: -1;
  }

  .month-box__images-bg {
    display: none;
  }

  .month-box__btn-bg {
    display: none;
  }

  .mission__container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 7rem;
  }

  .mission__top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mission__top-text-decor {
    margin-bottom: 1rem;
  }

  .mission__title {
    text-align: center;
    font-size: 2rem;
    line-height: unset;
  }

  .mission__bottom-text {
    padding-right: unset;
    text-align: center;
    font-size: 1.5rem;
  }

  .mission__decor-img {
    left: 40%;
    top: unset;
    bottom: 5%;
    width: 20%;
  }

  .recent__container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .recent__title {
    font-family: AdventPro;
    font-size: 2rem;
    text-transform: unset;
  }

  .recent__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .recent__img-5,
  .recent__img-6,
  .recent__img-7 {
    display: none;
  }

  .new__container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sign__container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sign__decor-line {
    display: none;
  }

  .sign__decor-text-line {
    display: block;
    margin: auto;
    padding-bottom: 1rem;
  }

  .sign__decor-text {
    text-align: center;
    padding-left: unset;
    font-size: 0.8rem;
  }

  .sign__title {
    font-family: AdventPro;
    text-align: center;
    font-size: 1.5rem;
    justify-content: center;
  }

  .sign__bg--sm {
    display: block;
  }

  .sign__subtitle {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
  }

  .sign__form {
    padding: unset;
  }

  .sign__form-err {
    left: 2rem;
    top: 0.5rem;
  }

  .sign__form-bg {
    display: none;
  }

  .sign__form-policy {
    text-align: center;
  }

  .clients {
    padding-bottom: unset;
  }

  .clients__subtitle {
    font-size: 0.6rem;
    text-align: center;
  }

  .clients__title {
    font-size: 1.5rem;
    font-family: AdventPro;
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 1rem;
  }

  .clients__cover {
    margin: auto;
    width: 50%;
  }

  .clients__info {
    width: unset;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .clients__line-decor {
    margin: auto;
    width: 10%;
  }

  .footer__top-logo {
    margin-bottom: 1rem;
  }

  .footer__top-link:not(:last-child) {
    margin-right: unset;
  }

  .footer__top-link {
    margin-bottom: 0.6rem;
  }

  .footer__bottom {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
